<div class="featured-card">
    <div class="featured-image">
        <img src="{{image}}" alt="{{title}}">
    </div>
    <div class="featured-content">
        <h3>{{title}}</h3>
        {{#if description}}
        <p>{{description}}</p>
        {{/if}}
        {{#if link}}
        <a href="{{link}}" class="btn btn-primary">Подробнее</a>
        {{/if}}
    </div>
</div> 