<nav class="main-nav">
  <ul>
    <li><a class="menu__link" href="/animals?userId={{user.id}}">Животные</a>
    </li>
    <li><a class="menu__link" href="/services?userId={{user.id}}">Услуги</a>
    </li>
    <li><a class="menu__link" href="/pet_shop_main?userId={{user.id}}">О нас</a>
    </li>
    <li><a class="menu__link" href="/contacts?userId={{user.id}}">Контакты</a>
    </li>
    <li><a class="menu__link" href="/form?userId={{user.id}}">Форма</a>
    </li>
    <li><a class="menu__link" href="/userlist?userId={{user.id}}">Пользователи</a>
    </li>
    <li><a class="menu__link" href="/appointments?userId={{user.id}}">Записи</a>
    </li>
    <li><a class="menu__link" href="/serviceadd?userId={{user.id}}">Правки</a>
    </li>
    <li><a class="menu__link" href="/addpet?userId={{user.id}}">Новый питомец</a>
    </li>
  </ul>
</nav>
