<nav class="main-nav">
  <ul>
    <li><a class="menu__link" href="/pet_shop_main?userId={{user.id}}"><i class="fas fa-home"></i> Главная</a></li>
    <li><a class="menu__link" href="/animals?userId={{user.id}}"><i class="fas fa-paw"></i> Экзотические животные</a></li>
    <li><a class="menu__link" href="/services?userId={{user.id}}"><i class="fas fa-concierge-bell"></i> Услуги</a></li>
    <li><a class="menu__link" href="/about?userId={{user.id}}"><i class="fas fa-info-circle"></i> О нас</a></li>
    <li><a class="menu__link" href="/contacts?userId={{user.id}}"><i class="fas fa-address-book"></i> Контакты</a></li>
    <li><a class="menu__link" href="/form?userId={{user.id}}"><i class="fas fa-edit"></i> Добавить животное</a></li>
    <li><a class="menu__link" href="/userlist?userId={{user.id}}"><i class="fas fa-users"></i> Наши клиенты</a></li>
    <li><a class="menu__link" href="/appointments?userId={{user.id}}"><i class="fas fa-calendar-check"></i> Записи</a></li>
    <li><a class="menu__link" href="/addpet?userId={{user.id}}"><i class="fas fa-plus-circle"></i> Новый питомец</a></li>
    <li><a class="menu__link" href="/serviceadd?userId={{user.id}}"><i class="fas fa-plus-circle"></i> Новая услуга</a></li>
  </ul>
</nav>