<div class="service-card">
  <div class="service-icon">
    <i class="{{icon}}"></i>
  </div>
  <h3>{{name}}</h3>
  <p>{{description}}</p>
  <ul class="service-details">
    <li>{{feature_1}}</li>
    <li>{{feature_2}}</li>
    <li>{{feature_3}}</li>
    <li>{{feature_4}}</li>
  </ul>
  <div class="price-info">
    <span class="service-price">{{price}}</span>
    <button class="book-service-btn">Записаться</button>
  </div>
</div>