<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Добавление животного - Два Холма</title>
  <link href="style.css" rel="stylesheet"/>
  <script src="js%20scripts/main.js" defer></script>
  <script src="js%20scripts/forms.js" defer></script>
  <script src="js%20scripts/appointment.js" defer></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

{{> header}}
{{> session}}
{{> navbar}}

<main>
  <section class="form-section">
    <h1 class="main__article__name">Добавьте запись</h1>
    <form id="appointmentForm" class="styled-form">

      <label for="pet">Выберите питомца:</label>
      <select name="petId" id="pet" required>
        {{#each pets}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>

      <label for="service">Выберите услугу:</label>
      <select name="serviceId" id="service" required>
        {{#each services}}
          <option value="{{this.id}}">{{this.name}}</option>
        {{/each}}
      </select>

      <label for="date">Дата:</label>
      <input type="datetime-local" name="date" id="date" required>

      <button type="submit">Записаться</button>
    </form>

    <p id="message" style="color: green; display: none;"></p>

    <h2>Ваши записи</h2>
    <ul id="appointmentsList">
      {{#each appointments}}
        <li id="appointment-{{this.id}}">
          {{this.date}} - {{this.pet.name}} → {{this.service.name}}
          <button onclick="deleteAppointment('{{this.id}}')">Удалить</button>
        </li>
      {{/each}}
    </ul>
  </section>
</main>
{{> footer}}
</body>
</html>